#IDEA-specific files
*.iml
.idea/libraries/
.idea/modules.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml
# I decided to share user dictionaries despite the fact it may be a problem in case of name conflict

#Eclipse-specific files
/.classpath
/.project
/.settings/

#Maven-specific files
/target/

#Chess-specific files
LeokomChess.log


