language: java

jdk:
  - oraclejdk8

sudo: false

addons:
  sonarcloud:
    # the organization key was found here: https://sonarcloud.io/account/organizations
    organization: "lrozenblyum-github"

script:
  # fixes SonarCloud warning:
  # 'Shallow clone detected during the analysis. Some files will miss SCM information.
  # This will affect features like auto-assignment of issues. Please configure your build to disable shallow clone.'
  - git fetch --unshallow --quiet
  # by default travis 'install' phase will execute
  # mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  # travis 'script' phase is by default: mvn test -B
  # -B means: batch-mode (no questions, no progress-related logs pollution)
  # jacoco call is needed for test coverage for sonar
  - mvn org.jacoco:jacoco-maven-plugin:prepare-agent test sonar:sonar -B
