<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- We must guarantee NO logging will be done to CONSOLE
as it may damage WinBoard -->
    <Appenders>
        <File name="fileApp" fileName="LeokomChess.log" append="true">
            <PatternLayout pattern="%d{ISO8601} %5p %c{1}:%L - %m%n"/>
        </File>
        <!-- Additional parameters about move being analyzed, for in-depth thinking -->
        <File name="fileApp-NormalizedBrain" fileName="LeokomChess.log" append="true">
            <PatternLayout pattern="%d{ISO8601} %5p %c{1}:%L - [[%X{moveBeingAnalyzed}]] %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name = "com.leokom.games.chess.player.legal.brain.normalized.NormalizedBrain" level = "debug" additivity = "false">
            <AppenderRef ref = "fileApp-NormalizedBrain" />
        </Logger>
        <Logger name = "com.leokom.games.chess.player.legal.brain.normalized.MasterEvaluator" level = "debug" additivity = "false">
            <AppenderRef ref = "fileApp-NormalizedBrain" />
        </Logger>
        <Logger name = "com.leokom.games.commons.brain.normalized.TwoPliesEvaluator" level = "debug" additivity = "false">
            <AppenderRef ref = "fileApp-NormalizedBrain" />
        </Logger>
        <Root level = "debug">
            <AppenderRef ref = "fileApp" />
        </Root>
    </Loggers>
</Configuration>